<div [hidden]="!isLoad" class="text-center">
    <mat-spinner [diameter]="20"></mat-spinner>
</div>
<div>
    <label>Order number</label>
    <small class="pull-right">{{Order.number || 'loading'}}</small>
</div>
<div>
    <label>Dealership</label>
    <small class="pull-right">{{Order.agency || 'loading'}}</small>
</div>
<div>
    <label>Order date</label>
    <small class="pull-right">{{Order.residual_date || 'loading'}}</small>
</div>
<div>
    <label>Registration date</label>
    <small class="pull-right">{{Order.post_date | readableDate}}</small>
</div>
<div>
    <label>Registered by</label>
    <small class="pull-right">{{Order.user || 'loading'}}</small>
</div>
<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Toner</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of Order.toners">
            <tr>
                <td>{{item.toner}}</td>
                <td>{{item.quantity}}</td>
            </tr>
        </tbody>
    </table>
</div>