<app-header #header></app-header>
<div class="content">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <mat-card class="mat-card-margin-bottom">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Residual inventory toner</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <app-residual-inventory #inventory></app-residual-inventory>
                    </mat-card>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-5">
                    <mat-card class="mat-card-margin-bottom">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Residual toner</h3>
                            </mat-card-title>
                            <mat-card-subtitle>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-lg-4">
                                        <mat-form-field class="mat-form-full-width">
                                            <input matInput placeholder="Start date" type="date" [(ngModel)]="startDate">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-4">
                                        <mat-form-field class="mat-form-full-width">
                                            <input matInput placeholder="End date" type="date" [(ngModel)]="endDate">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-4">
                                        <button mat-icon-button color="primary" (click)="load_data()" matTooltip="Refresh table">
                                            <i class="glyphicon glyphicon-refresh"></i>
                                        </button>
                                    </div>
                                </div>
                            </mat-card-subtitle>
                        </mat-card-header>

                        <div [hidden]="!isLoad" class="text-center">
                            <mat-spinner [diameter]="20"></mat-spinner>
                        </div>
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Dealership</th>
                                    <th>User</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of aResidualToners">
                                    <td>
                                        <a [routerLink]="['/residual', order.number]" routerLinkActive="active" matTooltip="Press to see the order">{{order.number}}</a>
                                    </td>
                                    <td>{{order.agency}}</td>
                                    <td>{{order.user}}</td>
                                    <td>{{order.residual_date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4" [hidden]="mode_view">
                    <mat-card class="mat-card-margin-bottom">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Registration of receipt of toner</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <app-create-residual #create></app-create-residual>
                    </mat-card>
                </div>

                <!-- Vista de la orden -->
                <div class="col-xs-12 col-md-6 col-lg-4" [hidden]="!mode_view">
                    <mat-card class="mat-card-margin-bottom">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Residual {{order_number}}</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <app-view-residual #residualView></app-view-residual>
                        <mat-card-actions>
                            <button mat-raised-button class="mat-primary" (click)="closeView()">Close</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>