<div [hidden]="!isLoad" class="text-center">
    <mat-spinner [diameter]="20"></mat-spinner>
</div>
<div>
    <small>Order number: <b>{{toner_order_number || 'Select an order'}}</b></small>
</div>
<div>
    <small>Status: <b>{{(toner_order_id ? pending_verified ? "Pending" : "Verified" : "Select an order")}}</b></small>
</div>
<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Number</th>
                <th>User</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of aVerified">
            <tr>
                <td>
                    <a (click)="viewVerified(item.id)" style="cursor:pointer;" matTooltip="Press to see the verification">{{item.id}}</a>
                </td>
                <td>{{item.user}}</td>
                <td>{{item.post_date | readableDate}}</td>
            </tr>
        </tbody>
    </table>
</div>
<mat-card-actions>
    <button mat-raised-button class="mat-primary" color="warn" id="btnCancel" type="submit" (click)="back()">Back</button>
    <button mat-raised-button class="mat-primary" id="btnCancel" type="submit" (click)="createVerified()" [disabled]="!pending_verified">Create
        verified</button>
</mat-card-actions>