<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="img-responsive" src="/assets/logo.png">
        </a>
    </div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..." type="ball-scale-multiple">
    </ngx-spinner>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="home">Home</a>
            </li>
            <li>
                <a href="order">Order</a>
            </li>
            <li>
                <a href="assignment">Assignment</a>
            </li>
            <li>
                <a href="residual">Residual toner</a>
            </li>
            <li>
                <a href="report">Report</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a [href]="['http://localhost:4003/checking?key=' + token]" style="cursor: pointer;" [(target)]="_blank">!Hello {{UserLoggedIn}}!</a>
            </li>
            <li>
                <a (click)="session_close()" style="cursor: pointer;">Logout</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>