<app-header></app-header>
<nav class="navbar navbar-default sm0" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-ex2-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex2-collapse">
        <div class="collapse navbar-collapse navbar-ex2-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <button mat-button (click)="load_resume()" matTooltip="Resume">
                        Resume
                    </button>
                </li>
                <li>
                    <button mat-button *ngFor="let item of aDealerships" (click)="load_printer(item)" matTooltip="{{item.subnet}}">
                        {{item.name}}
                    </button>
                </li>
            </ul>
        </div>

    </div>
    <!-- /.navbar-collapse -->
</nav>



<div class="text-center" style="display: none;">
    <mat-form-field>
        <mat-select [(ngModel)]="selectedDealership" placeholder="Dealership" (selectionChange)="onSelectDealershipChange()"
            required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let item of aDealerships" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="dealershipControl.hasError('required')">Please choose a dealership</mat-error>
        <mat-hint>{{dealershipControl.value?.name}}</mat-hint>
    </mat-form-field>
</div>
<br>

<div class="titleh content">
    <h2>{{dealership}}</h2>
    <p>State of printers</p>
    <div [hidden]="!isLoad">
        <mat-spinner [diameter]="20"></mat-spinner>
    </div>
</div>
<div class="col-lg-12">
    <div class="row">
        <!--All data-->
        <div class="container">
            <div [hidden]="isResume" class="col-xs-12 col-lg-4" *ngFor="let item of aPrinters">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">{{item.name}}</h4>
                        <div class="row">
                            <div class="col-xs-3">
                                <small><b>Model:</b> <br /> {{item.model}}</small>
                            </div>
                            <div class="col-xs-4">
                                <small><b>IP Adress:</b> <br /> <a href="http://{{item.ip_adress}}/" target="_blank"
                                        matTooltip="Open printer">{{item.ip_adress}}</a></small>
                            </div>
                            <div class="col-xs-5">
                                <small>
                                    <b>Last update:</b>
                                    <br />
                                    <span [hidden]="item.last_update" class="text-warning">Could not access</span>
                                    <span [hidden]="!item.last_update" matTooltip="{{item.last_update | fmtDate}}">{{item.last_update
                                        | fmtDate | timeAgo}}</span>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="cont-prin" *ngFor="let toner of item.toners">
                            <label>{{toner.toner}} </label>
                            <small class="pull-right">{{toner.serial_number || 'Not assigned'}}</small>
                            <a [hidden]="!toner.isWaitingForChange" style="cursor: pointer;">
                                <i class="glyphicon glyphicon-time" matTooltip="Waiting to be changed"></i>
                            </a>
                            <div>
                                <div>
                                    <label>Pages printed</label>
                                    <small class="pull-right">{{toner.page_printed ? toner.page_printed + ' pages' :
                                        'unknown'}}</small>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active bgn" role="progressbar"
                                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': toner.percent + '%', 'color': toner.percent ? toner.font_color : 'black', 'background-color': toner.color_hex}">
                                    {{toner.percent ? toner.percent + '%' : toner.percent == 0 ? 'Empty' : 'unknown'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <div class="container">
            <!--Resume-->
            <div [hidden]="!isResume" *ngFor="let item of aPrinters">
                <div class="col-xs-12 col-lg-12">
                    <mat-card style="margin: 10px">
                        <mat-card-header>
                            <mat-card-title>
                                <h3 class="text-center">{{item.name}}</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-6" *ngFor="let printer of item.printers">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="text-center">{{printer.name}}</h4>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <small><b>Model:</b> <br /> {{printer.model}}</small>
                                            </div>
                                            <div class="col-xs-4">
                                                <small><b>IP Adress:</b> <br /> <a href="http://{{printer.ip_adress}}/"
                                                        target="_blank" matTooltip="Open printer">{{printer.ip_adress}}</a></small>
                                            </div>
                                            <div class="col-xs-5">
                                                <small>
                                                    <b>Last update:</b>
                                                    <br />
                                                    <span [hidden]="printer.last_update" class="bg-red">Could not access</span>
                                                    <span [hidden]="!printer.last_update" matTooltip="{{printer.last_update | fmtDate}}">{{printer.last_update
                                                        | fmtDate | timeAgo}}</span>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="cont-prin" *ngFor="let toner of printer.toners">
                                            <label>{{toner.toner}} </label>
                                            <small class="pull-right">{{toner.serial_number || 'Not assigned'}}</small>
                                            <a [hidden]="!toner.isWaitingForChange" style="cursor: pointer;">
                                                <i class="glyphicon glyphicon-time" matTooltip="Waiting to be changed"></i>
                                            </a>
                                            <div>
                                                <div>
                                                    <label>Pages printed</label>
                                                    <small class="pull-right">{{toner.page_printed ? toner.page_printed
                                                        + ' pages' :
                                                        'unknown'}}</small>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped active bgn" role="progressbar"
                                                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': toner.percent + '%', 'color': toner.percent ? toner.font_color : 'black', 'background-color': toner.color_hex}">
                                                    {{toner.percent ? toner.percent + '%' : toner.percent == 0 ?
                                                    'Empty' : 'unknown'}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix visible-xs"></div>
                        </div>
                    </mat-card>



                </div>



            </div>

        </div>
    </div>
</div>