<app-header #header></app-header>
<mat-card class="mat-card-margin-bottom">
    <mat-card-header>
        <mat-card-title>
            <h3>Toner report installed</h3>
        </mat-card-title>
        <mat-card-subtitle>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <mat-form-field class="mat-form-full-width">
                        <mat-select [(ngModel)]="fTonerInstalled.subnet_id" placeholder="Dealership" (selectionChange)="onSelectSubnetChange()" required>
                            <mat-option [value]="0">All</mat-option>
                            <mat-option *ngFor="let item of aSubnets" [value]="item.id">{{item.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="dealershipControl.hasError('required')">Please choose a dealership</mat-error>
                        <mat-hint>{{dealershipControl.value?.name}}</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <mat-form-field class="mat-form-full-width">
                        <mat-select [(ngModel)]="fTonerInstalled.printer_id" placeholder="Printer" required>
                            <mat-option [value]="0">All</mat-option>
                            <mat-option *ngFor="let item of fTonerInstalled.aPrinters" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-hint>{{printerControl.value?.name}}</mat-hint>
                        <mat-error *ngIf="printerControl.hasError('required')">Please choose a printer</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <mat-form-field class="mat-form-full-width">
                        <mat-select [(ngModel)]="fTonerInstalled.toner_id" placeholder="Toner" required>
                            <mat-option [value]="0">All</mat-option>
                            <mat-option *ngFor="let item of aToners" [value]="item.id">{{item.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="tonerControl.hasError('required')">Please choose a toner</mat-error>
                        <mat-hint>{{tonerControl.value?.name}}</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <mat-form-field class="mat-form-full-width">
                        <input matInput placeholder="Start date" type="date" [(ngModel)]="fTonerInstalled.start_date">
                    </mat-form-field>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <mat-form-field class="mat-form-full-width">
                        <input matInput placeholder="End date" type="date" [(ngModel)]="fTonerInstalled.end_date">
                    </mat-form-field>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <button mat-raised-button color="primary" (click)="tonerReportInstalled()">Load report</button>
                </div>
            </div>
            <div [hidden]="!fTonerInstalled.load_report" class="text-center">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Subnet</th>
                    <th scope="col">Printer</th>
                    <th scope="col">Toner</th>
                    <th scope="col">Serial number</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of fTonerInstalled.report_data">
                    <th scope="row">{{item.subnet}}</th>
                    <td>{{item.printer}}</td>
                    <td>{{item.toner}}</td>
                    <td>{{item.serial_number}}</td>
                    <td>{{item.instalation_date | readableDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <mat-card-actions>
        <button mat-raised-button class="mat-primary mat-accent" (click)="sendReport()" matTooltip="send me this report">Send</button>
    </mat-card-actions>
</mat-card>
<mat-card class="mat-card-margin-bottom">
    <mat-card-header>
        <mat-card-title>
            <h3>Report of toner changes</h3>
        </mat-card-title>
        <mat-card-subtitle>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-lg-3">
                    <mat-form-field class="mat-form-full-width">
                        <mat-select [(ngModel)]="selectedSubnet" placeholder="Dealership" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let item of aSubnets" [value]="item.id">{{item.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="dealershipControl.hasError('required')">Please choose a dealership</mat-error>
                        <mat-hint>{{dealershipControl.value?.name}}</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-3">
                    <mat-form-field class="mat-form-full-width">
                        <input matInput placeholder="Start date" type="date" [(ngModel)]="startDate">
                    </mat-form-field>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-3">
                    <mat-form-field class="mat-form-full-width">
                        <input matInput placeholder="End date" type="date" [(ngModel)]="endDate">
                    </mat-form-field>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-3">
                    <button mat-raised-button color="primary" (click)="reportChangeTonerForDealerhip()">Load report</button>
                </div>
            </div>
            <div [hidden]="!isLoadFirstReport" class="text-center">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="chart">
        <canvas #canvas height="100">{{ chart }}</canvas>
    </div>
</mat-card>