<app-header #header></app-header>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<div class="content">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-lg-3">
                    <div class="col-xs-12">
                        <!-- Inventario -->
                        <mat-card class="mat-card-margin-bottom">
                            <mat-card-header>
                                <mat-card-title>
                                    <h3>Inventory</h3>
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <div [hidden]="!isLoading">
                                        <mat-spinner [diameter]="20"></mat-spinner>
                                    </div>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <app-inventory #inventory></app-inventory>
                        </mat-card>
                    </div>
                    <div class="col-xs-12" style="display: none;">
                        <!-- Inventario -->
                        <mat-card class="mat-card-margin-bottom">
                            <mat-card-header>
                                <mat-card-title>
                                    <h3>Backup inventory</h3>
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <div [hidden]="!isLoading">
                                        <mat-spinner [diameter]="20"></mat-spinner>
                                    </div>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <app-inventory-backup #inventory></app-inventory-backup>
                        </mat-card>
                    </div>

                </div>

                <div class="col-xs-12 col-lg-5">

                    <!-- Toner para cambiar -->
                    <mat-card class="mat-card-margin-bottom">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Toner to change</h3>
                            </mat-card-title>
                            <mat-card-subtitle>
                                The highlight printer has assigned a tonner that has not been installed
                                <br />
                                <button mat-button *ngFor="let item of aSubnets" (click)="load_toner_to_change(item.id)">{{item.name}}</button>
                                <div [hidden]="!isLoadTonerToChange">
                                    <mat-spinner [diameter]="20"></mat-spinner>
                                </div>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Subnet</th>
                                    <th scope="col">Printer</th>
                                    <th scope="col">Toner</th>
                                    <th scope="col">Percent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of aTonersToChange" [ngClass]="[item.isWaitingForChange ? 'bg-warning': '']">
                                    <td scope="row">{{item.subnet}}</td>
                                    <td scope="row">{{item.printer}}</td>
                                    <td scope="row">{{item.toner}}</td>
                                    <td scope="row">{{item.percent ? item.percent + '%' : 'Not assigned'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card>

                    <!-- Toner no encontrados -->
                    <mat-card class="mat-card-margin-bottom">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Toner not assigned</h3>
                            </mat-card-title>
                            <mat-card-subtitle>
                                Toner waiting to be changed
                                <div [hidden]="!isLoadTonerNotAssignment">
                                    <mat-spinner [diameter]="20"></mat-spinner>
                                </div>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <div>
                            <table id='example' class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Subnet</th>
                                        <th scope="col">Printer</th>
                                        <th scope="col">Toner</th>
                                        <th scope="col">Waiting from</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of aTonersNoMatch">
                                        <td scope="row">{{item.subnet}}</td>
                                        <td scope="row">{{item.printer}}</td>
                                        <td scope="row">{{item.toner}}</td>
                                        <td scope="row">{{item.post_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-card>
                </div>

                <div class="col-xs-12 col-lg-4">
                    <div [hidden]="mode_view">
                        <mat-card class="mat-card-margin-bottom">
                            <mat-card-header>
                                <mat-card-title>
                                    <h3>Create assignment</h3>
                                </mat-card-title>
                            </mat-card-header>
                            <app-create-assignment #create></app-create-assignment>
                        </mat-card>
                    </div>

                    <div [hidden]="!mode_view">
                        <mat-card class="mat-card-margin-bottom">
                            <mat-card-header>
                                <mat-card-title>
                                    <h3>Assignment</h3>
                                </mat-card-title>
                            </mat-card-header>
                            <app-view-assignment #viewAssignment></app-view-assignment>
                            <mat-card-actions>
                                <button mat-raised-button class="mat-primary" (click)="closeView()">Close</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <!-- Asignamiento -->
                    <mat-card class="mat-card-margin-bottom">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Last assignment</h3>
                            </mat-card-title>
                            <mat-card-subtitle>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-lg-5">
                                        <mat-form-field class="mat-form-full-width">
                                            <input matInput placeholder="Start date" type="date" [(ngModel)]="startDate">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-5">
                                        <mat-form-field class="mat-form-full-width">
                                            <input matInput placeholder="End date" type="date" [(ngModel)]="endDate">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-2">
                                        <button mat-icon-button color="primary" (click)="load_data()" matTooltip="Refresh table">
                                            <i class="glyphicon glyphicon-refresh"></i>
                                        </button>
                                    </div>
                                </div>
                                <div [hidden]="!isLoadLastAssignment">
                                    <mat-spinner [diameter]="20"></mat-spinner>
                                </div>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-accordion [hidden]="true">
                            <mat-expansion-panel *ngFor="let item of aAssignment">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>{{item.agency}}</mat-panel-title>
                                    <mat-panel-description>{{item.printer}} - {{item.post_date}}</mat-panel-description>
                                </mat-expansion-panel-header>
                                <ul style="list-style-type:none">
                                    <li *ngFor="let item of item.toners">
                                        <a style="cursor: pointer;">
                                            <i class="glyphicon " [ngClass]="{'glyphicon-time': item.isWaitingForChange, 'glyphicon-ok': !item.isWaitingForChange}" [ngStyle]="{'color': item.isWaitingForChange ? 'red' : 'green' }"
                                                matTooltip="{{item.isWaitingForChange ? 'Waiting to be changed' : 'Toner changed'}}"></i>
                                        </a>
                                        <label>{{item.toner}}</label>
                                        <small class="pull-right">{{item.serial_number}}</small>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <div class="table-responsive-sm">
                            <table class="table">
                                <thead>
                                    <th>Number</th>
                                    <th>Dealership</th>
                                    <th>Date</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of aAssignment">
                                        <td>
                                            <a [routerLink]="['/assignment', item.number]" routerLinkActive="active" matTooltip="Press to see the assignment">{{item.number}}</a>
                                        </td>
                                        <td>{{item.agency}}</td>
                                        <td>{{item.post_date | readableDate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-card>

                </div>
            </div>
        </div>
    </div>
</div>