<div [hidden]="!isLoad" class="text-center">
    <mat-spinner [diameter]="20"></mat-spinner>
</div>
<div>
    <label>Order number</label>
    <small class="pull-right">{{Order.number || 'loading'}}</small>
</div>
<div>
    <label>Registration date</label>
    <small class="pull-right">{{Order.post_date | readableDate}}</small>
</div>
<div>
    <label>Registered by</label>
    <small class="pull-right">{{Order.user || 'loading'}}</small>
</div>
<mat-accordion>
    <mat-expansion-panel *ngFor="let item of Order.printers">
        <mat-expansion-panel-header>
            <mat-panel-title>{{item.printer}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="table-responsive-sm">
            <table class="table">
                <tbody>
                    <tr *ngFor="let toner of item.toners">
                        <td>
                            <a style="cursor: pointer;" [hidden]="toner.backup_quantity > 0">
                                <i class="glyphicon " [ngClass]="{'glyphicon-time': toner.isWaitingForChange, 'glyphicon-ok': !toner.isWaitingForChange}" [ngStyle]="{'color': toner.isWaitingForChange ? 'red' : 'green' }"
                                    matTooltip="{{toner.isWaitingForChange ? 'Waiting to be changed' : 'Toner changed'}}"></i>
                            </a>
                        </td>
                        <td>
                            <label class="pull-left">{{toner.toner}}</label>
                        </td>
                        <td>
                            <label [hidden]="toner.backup_quantity == 0" class="pull-right" readonly>{{toner.backup_quantity}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-expansion-panel>
</mat-accordion>