<mat-form-field class="mat-form-full-width">
    <mat-select [(ngModel)]="selectedDealership" placeholder="Dealership" (selectionChange)="onSelectDealershipChange()" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let item of aDealerships" [value]="item.id">{{item.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="dealershipControl.hasError('required')">Please choose a dealership</mat-error>
    <mat-hint>{{dealershipControl.value?.name}}</mat-hint>
</mat-form-field>
<div [hidden]="!isLoad">
    <mat-spinner [diameter]="20"></mat-spinner>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let toner of aToners">
                <td>{{toner.name}}</td>
                <td>{{toner.backup_quantity}}</td>
            </tr>
        </tbody>
    </table>
</div>