<div class="row">
    <div class="col-xs-12 col-lg-6">
        <mat-form-field class="mat-form-full-width">
            <input matInput placeholder="Number" type="number" [(ngModel)]="order_number">
        </mat-form-field>
    </div>
    <div class="col-xs-12 col-lg-6">
        <mat-form-field class="mat-form-full-width">
            <input matInput placeholder="Order date" type="date" [(ngModel)]="order_date">
        </mat-form-field>
    </div>
</div>

<div class="form-group">
    <div [hidden]="!isLoad">
        <mat-spinner [diameter]="20"></mat-spinner>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Toner</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of aDetail">
                <th scope="row">{{item.name}}</th>
                <th>
                    <input [(ngModel)]="item.quantity" type="number" [min]="0">
                </th>
            </tr>
        </tbody>
    </table>
</div>
<mat-card-actions>
    <button mat-raised-button class="mat-primary" id="btnSave" type="submit" (click)="addOrder()" [disabled]="isSaveDisabled">Save</button>
</mat-card-actions>