<div class="row">
    <div class="col-xs-12 col-lg-6">
        <mat-form-field class="mat-form-full-width">
            <mat-select [(ngModel)]="selectedDealership" placeholder="Dealership" (selectionChange)="onSelectDealershipChange()" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of aDealerships" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="dealershipControl.hasError('required')">Please choose a dealership</mat-error>
            <mat-hint>{{dealershipControl.value?.name}}</mat-hint>
        </mat-form-field>
    </div>
    <div class="col-xs-12 col-lg-6">
        <mat-form-field class="mat-form-full-width">
            <input matInput placeholder="Order date" type="date" [(ngModel)]="residual_date">
        </mat-form-field>
    </div>
</div>

<div class="form-group">
    <div [hidden]="!isLoad">
        <mat-spinner [diameter]="20"></mat-spinner>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Toner</th>
                <th scope="col">Pending</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of aDetail">
                <th scope="row">{{item.toner}}</th>
                <th scope="row">{{item.max_residual_quantity}}</th>
                <th>
                    <div>
                        <input type="number" [(ngModel)]="item.residual_quantity" [min]="0">
                        <mat-error *ngIf="item.residual_quantity < 0">The value is not valid</mat-error>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<mat-card-actions>
    <button mat-raised-button class="mat-primary" id="btnSave" type="submit" (click)="addOrder()" [disabled]="isSaveDisabled">Save</button>
</mat-card-actions>