/* You can add global styles to this file, and also import other style files */
body { 
   background-color: #e4e6e9!important;
  }
.wrapper{
       background: url(assets/fondo-01.png) no-repeat center center fixed;
       -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    background-color: #fff!important;
  }

.p5{
    padding: 5px;
    color:#fff;
}
.navbar-brand img{
    width: 80%;
    margin: 0 auto;
}
          .bgn {
              background-color: #000;
          }
  
          .bgm {
              background-color: magenta;
          }
  
          .bgc {
              background-color: cyan;
          }
  
          .bgy {
              background-color: yellow;
              color: #000!important;
          }
  
          .panel {
              box-shadow: 5px 10px 8px #888888;
          }
          .titleh{
            background-color: #f5f5f5;
            border-radius: 14px;
            padding: 1px 12px;
            margin: 15px 0px;
            box-shadow: 10px 5px 10px #888;
          }
          

          .card-container.card {
            max-width: 350px;
            padding: 40px 40px;
        }
        
        .btn {
            font-weight: 700;
            height: 36px;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: default;
        }
        
        /*
         * Card component
         */
        .card {
            background-color: #F7F7F7;
            /* just in case there no content*/
            padding: 20px 25px 30px;
            margin: 0 auto 25px;
            margin-top: 50px;
            /* shadows and rounded borders */
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        }
        
        .profile-img-card {
            width: 96px;
            height: 96px;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        
        /*
         * Form styles
         */
        .profile-name-card {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            margin: 10px 0 0;
            min-height: 1em;
        }
        
        .reauth-email {
            display: block;
            color: #404040;
            line-height: 2;
            margin-bottom: 10px;
            font-size: 14px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        .form-signin #inputEmail,
        .form-signin #inputPassword {
            direction: ltr;
            height: 44px;
            font-size: 16px;
        }
        
        .form-signin input[type=email],
        .form-signin input[type=password],
        .form-signin input[type=text],
        .form-signin button {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            z-index: 1;
            position: relative;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        .form-signin .form-control:focus {
            border-color: rgb(104, 145, 162);
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        }
        
        .btn.btn-signin {
            /*background-color: #4d90fe; */
            background-color: rgb(104, 145, 162);
            /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
            padding: 0px;
            font-weight: 700;
            font-size: 14px;
            height: 36px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            border: none;
            -o-transition: all 0.218s;
            -moz-transition: all 0.218s;
            -webkit-transition: all 0.218s;
            transition: all 0.218s;
        }
        
        .btn.btn-signin:hover,
        .btn.btn-signin:active,
        .btn.btn-signin:focus {
            background-color: rgb(12, 97, 33);
        }
        
        .forgot-password {
            color: rgb(104, 145, 162);
        }
        
        .forgot-password:hover,
        .forgot-password:active,
        .forgot-password:focus{
            color: rgb(12, 97, 33);
        }

        .panel-body ul li{
            margin:15px 0px;
        }

        .content{
            margin-right: 15px;
            margin-left: 15px;
        }

        .mat-raised-button.mat-accent {
            background-color: #1de9b6!important;
        }
        .mat-raised-button.mat-accent2 {
            background-color: #0288d1!important;
        }

        @media (max-width: 768px){
        .mat-form-field-infix {
            width: 100%!important;
        }

        .wrapper{
            background: url(assets/fondo-01.png) no-repeat center center fixed;
            -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         height: 100vh;
         background-color: #fff!important;
       }
    }
    .sm0{
        margin-bottom: 0px!important;
    }

.mat-form-full-width{
    width: 100%;
}

.mat-card-margin-bottom{
    margin-bottom: 30px;
}

.mat-select-panel { max-width: 420px!important;}