<app-header #header></app-header>
<div class="content">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="row">
                <!-- Vista de la orden -->
                <div class="col-xs-12 col-lg-4" [hidden]="!mode_view">
                    <mat-card class="mat-card-margin-bottom">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Order {{order_number}}</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <app-order-view #orderView></app-order-view>
                        <mat-card-actions>
                            <button mat-raised-button class="mat-primary" (click)="closeView()">Close</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <!-- Crear orden -->
                <div class="col-xs-12 col-lg-4" [hidden]="mode_view">
                    <mat-card class="mat-card-margin-bottom">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>{{title2}}</h3>
                            </mat-card-title>
                            <mat-card-subtitle>Step one</mat-card-subtitle>
                        </mat-card-header>
                        <app-create-order #createOrder></app-create-order>
                    </mat-card>
                </div>

                <div class="col-xs-12 col-lg-5">
                    <mat-card class="mat-card-margin-bottom">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Verification of order</h3>
                            </mat-card-title>
                            <mat-card-subtitle>Step three</mat-card-subtitle>
                        </mat-card-header>
                        <app-verify-order-view #verifyOrder></app-verify-order-view>
                    </mat-card>
                </div>
                <!-- Inventario -->
                <div class="col-xs-12 col-lg-3">
                    <mat-card class="mat-card-margin-bottom">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Dealergeek inventory</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <app-toner #inventory></app-toner>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <!-- Lista de orden -->
                <div class="col-xs-12 col-lg-5">
                    <mat-card class="mat-card-margin-bottom">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Last order</h3>
                            </mat-card-title>
                            <mat-card-subtitle>
                                Step two

                            </mat-card-subtitle>
                        </mat-card-header>
                        <div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <mat-form-field class="mat-form-full-width">
                                        <input matInput placeholder="Order number" type="text" [(ngModel)]="filter_order_number">
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <mat-form-field class="mat-form-full-width">
                                        <mat-select [(ngModel)]="load_pending_verified" placeholder="State" required>
                                            <mat-option [value]="-1">--</mat-option>
                                            <mat-option [value]="true">Pending</mat-option>
                                            <mat-option [value]="false">Verified</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-4">
                                    <mat-form-field class="mat-form-full-width">
                                        <input matInput placeholder="Start date" type="date" [(ngModel)]="startDate">
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-4">
                                    <mat-form-field class="mat-form-full-width">
                                        <input matInput placeholder="End date" type="date" [(ngModel)]="endDate">
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-4">
                                    <button mat-icon-button color="primary" (click)="load_data()" matTooltip="Refresh table">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="!isLoad" class="text-center">
                            <mat-spinner [diameter]="20"></mat-spinner>
                        </div>
                        <div style="display: none;">
                            <div class="col-xs-12 col-lg-4">
                                <mat-form-field class="mat-form-full-width">
                                    <input matInput placeholder="Start date" type="date" [(ngModel)]="Filter.start_date">
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <mat-form-field class="mat-form-full-width">
                                    <input matInput placeholder="End date" type="date" [(ngModel)]="Filter.end_date">
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <mat-form-field class="mat-form-full-width">
                                    <input matInput placeholder="Order number" type="number" [(ngModel)]="Filter.order_number">
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-lg-1">
                                <button mat-button>searh</button>
                            </div>
                        </div>
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>User</th>
                                    <th>Date</th>
                                    <th>State</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of aOrders">
                                    <td>
                                        <a [routerLink]="['/order', order.number]" routerLinkActive="active" matTooltip="Press to see the order">{{order.number}}</a>
                                    </td>
                                    <td>{{order.user}}</td>
                                    <td>{{order.order_date}}</td>
                                    <td>
                                        <a [routerLink]="['/order/verify', order.number]" routerLinkActive="active"
                                            matTooltip="Press to verify the order">{{order.state}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card>

                </div>
            </div>
        </div>
    </div>
</div>