<div [hidden]="!isLoad" class="text-center">
    <mat-spinner [diameter]="20"></mat-spinner>
</div>
<h3>Create order verification</h3>
<div>
    <small>Order number: <b>{{toner_order_number}}</b></small>
</div>
<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Qty ordered</th>
                <th scope="col">Qty pending</th>
                <th scope="col">Qty received</th>
                <th scope="col">Back ordered</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of Order.toners">
            <tr>
                <td>{{item.toner}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.pending_quantity}}</td>
                <td>
                    <!-- <input type="number" [(ngModel)]="item.received_quantity" [min]="0"> -->
                    <div class="input-group">
                        <input type="number" class="form-control" [(ngModel)]="item.received_quantity" [min]="0" [max]="item.pending_quantity"
                            placeholder="Search for..." style="height: 36px;">
                        <span class="input-group-btn">
                            <button class="btn btn-default" (click)="complete(item)" type="button">All</button>
                        </span>
                    </div>
                    <mat-error *ngIf="item.received_quantity > item.quantity">The value is greater</mat-error>
                </td>
                <td>{{item.pending_quantity - item.received_quantity}}</td>
            </tr>
        </tbody>
    </table>
</div>
<button mat-raised-button class="mat-warn margin" (click)="cancel()">Cancel</button>
<button mat-raised-button class="mat-primary margin" (click)="accept()" [disabled]="isSaved">Accept</button>