<h3>Verification of order</h3>
<div [hidden]="!isLoad" class="text-center">
    <mat-spinner [diameter]="20"></mat-spinner>
</div>
<div>
    <small>Verificacion number: <b>{{toner_order_verified_id}}</b></small>
</div>
<div>
    <small>Order number: <b>{{Order.toner_order_number}}</b></small>
</div>
<div>
    <small>Registered by: <b>{{Order.user}}</b></small>
</div>
<div>
    <small>Registration date: <b>{{Order.post_date | readableDate}}</b></small>
</div>
<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Description</th>
                <th>Qty ordered</th>
                <th>Qty pending</th>
                <th>Qty received</th>
                <th>Back ordered</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of Order.details">
            <tr>
                <td>{{item.toner}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.before_quantity}}</td>
                <td>{{item.received_quantity}}</td>
                <td>{{item.after_quantity}}</td>
            </tr>
        </tbody>
    </table>
</div>
<button mat-raised-button class="mat-primary" (click)="accept()">Accept</button>