<div [hidden]="!isLoad">
    <mat-spinner [diameter]="20"></mat-spinner>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let toner of aToner">
            <th scope="row">{{toner.id}}</th>
            <td>{{toner.name}}</td>
            <td>{{toner.quantity}}</td>
        </tr>
    </tbody>
</table>