<div class="form-group" style="display: none;">
    <label for="selectDealership">Dealership</label>
    <select id="selectDealership" class="form-control" [(ngModel)]="selectedDealership" (change)="onSelectPBXChange($event.target.value)">
        <option [hidden]="!isLoadDealership" [value]="0">Loading...</option>
        <option *ngFor="let item of aDealerships" [value]="item.id">{{item.name}}</option>
    </select>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-6">
        <mat-form-field class="mat-form-full-width">
            <mat-select [(ngModel)]="selectedDealership" placeholder="Dealership" (selectionChange)="onSelectPBXChange()" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of aDealerships" [value]="item.id" matTooltip="item.name">
                    <small style="word-wrap: break-word;">{{item.name}}</small>
                </mat-option>

            </mat-select>
            <mat-error *ngIf="dealershipControl.hasError('required')">Please choose a dealership</mat-error>
            <mat-hint>{{dealershipControl.value?.name}}</mat-hint>
        </mat-form-field>
    </div>
    <div class="col-xs-12 col-lg-6">
        <mat-form-field class="mat-form-full-width">
            <mat-select [(ngModel)]="newItem.printer_id" placeholder="Printer" required>
                <mat-option>--</mat-option>
                <mat-optgroup *ngFor="let subnet of aPrinters" [label]="subnet.name">
                    <mat-option *ngFor="let item of subnet.printers" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
            <mat-hint>{{printerControl.value?.name}}</mat-hint>
            <mat-error *ngIf="printerControl.hasError('required')">Please choose a printer</mat-error>
        </mat-form-field>
    </div>
    <div class="col-xs-12 col-lg-12">
        <button mat-button color="primary" class="mat-form-full-width" id="btnAddPrinter" type="submit" (click)="add_printer()">add printer</button>
    </div>
</div>
<div class="text-center" [hidden]="!isLoadToners">
    <mat-spinner [diameter]="20"></mat-spinner>
</div>
<div class="row" style="margin: 50px 0px">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let item of Items">
            <mat-expansion-panel-header>
                <mat-panel-title>{{item.printer_name}}</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <div class="table-responsive-sm">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let toner of item.toners">
                            <td>
                                <label class="pull-left">{{toner.name}}</label>
                            </td>
                            <td>
                                <mat-checkbox [hidden]="item.printer_id == 0" [(ngModel)]="toner.replaced" class="pull-right" color="warn" matTooltip="Replace this toner"
                                    (change)="updateResume(toner.toner_id)"></mat-checkbox>
                                <input [hidden]="item.printer_id > 0" type="number" [(ngModel)]="toner.backup_quantity" class="pull-right" (change)="updateResume(toner.toner_id)"
                                    [min]="0">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <mat-action-row>
                <button mat-button class="mat-warn" id="btnDelete" type="submit" (click)="delete_printer(item)">Delete</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<h5>Resume</h5>
<div class="row">
    <button mat-button *ngFor="let item of aToners">
        <i class="glyphicon glyphicon-tint" [ngStyle]="{'color': item.color_hex}"></i> {{item.quantity}}
    </button>
</div>
<div class="table-responsive-sm" style="display: none;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Toner</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of aToners">
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
            </tr>
        </tbody>
    </table>
</div>
<mat-card-actions>
    <button mat-raised-button class="mat-primary mat-accent" id="btnSave" type="submit" (click)="add_assignment()" [disabled]="isSaveDisabled">Save</button>
</mat-card-actions>