<div class="wrapper">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..." type="ball-scale-multiple"></ngx-spinner>
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <div class="text-center">
                <img id="profile-img" class="text-center" src="assets/logo.png" />
            </div>
         <!--    <p id="profile-name" class="profile-name-card">
                
            </p> -->
            <!-- <div class="icon">
                    <span class="glyphicon glyphicon-user"></span>
                 </div> -->
               <p class="login-box-msg">Log in your session</p>
            <div class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus [(ngModel)]="username">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="password">
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="valid_user();">Sign in</button>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me" [checked]="remember" [(ngModel)]="remember"> Do not sign out
                        </label>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <div align="right" style="margin-top: 9px">
                        <a href="http://173.235.74.153:4002"  target="_blank"><i class="glyphicon glyphicon-lock"></i> forgot password</a>
                    </div>
                </div>
            </div>
            
            <!-- /form -->
            <!-- 
            <a href="#" class="forgot-password" >
                Forgot the password?
            </a>
            -->
        </div>
        <!-- /card-container -->
    </div>
    <!-- /container -->
</div>
