.icon {
    margin-top: 12px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.icon span {
    background: #2db4f6;
    padding: 12px;
    border-radius: 120px;
}

.login-box-msg {
    margin-top: 10px;
    text-align: center;
    padding: 0 20px 20px;
}